# Probe temp macro holds target temp for restoring after z-home
[gcode_macro target_temp]
variable_target_temp: 0
gcode:
    {% set TARGET_TEMP = printer["gcode_macro target_temp"].target_temp %}
    RESPOND MSG="Bringing probe temp back to target: {TARGET_TEMP}..."
    M109 S{TARGET_TEMP}
    SET_GCODE_VARIABLE MACRO=target_temp VARIABLE=target_temp VALUE=0

[gcode_macro probe_activate]
gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}
    {% if printer["gcode_macro target_temp"].target_temp == 0 %}
        SET_GCODE_VARIABLE MACRO=target_temp VARIABLE=target_temp VALUE={TARGET_TEMP}
    {% endif %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[bed_mesh]
speed: 100
probe_count: 4, 4
mesh_min: -145, -130
mesh_max: 145, 130

# Bed Mesh Calibrate
[gcode_macro G29]
gcode: 
    BED_MESH_CALIBRATE
    SAVE_CONFIG 

